@model TrainMe.Web.Areas.Course.ViewModels.Course.CourseDetailsViewModel

@{
    ViewBag.Title = Html.Raw(Model.Name);
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendeesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeesCount)
        </dd>
    </dl>
</div>
@(Html.Action<PartialViewsController>(c => c.RenderCourseEditAndDeleteButtons()))
@(Html.Action<PartialViewsController>(c => c.RenderEnroll()))
