@using TrainMe.Web.Infrastructure.Common
@model TrainMe.Web.Areas.Course.ViewModels.Course.CourseDetailsViewModel

@{
    ViewBag.Title = Model.Name;
}

@if (this.TempData[TempDataKeys.UserMessage] != null)
{
    <div class="alert alert-warning">@this.TempData[TempDataKeys.UserMessage]</div>
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendeesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeesCount)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @(Html.ActionLink<HomeController>("Back to List", c => c.Index(null, null, null, 1)))

    @if (Model.UserCanEnroll)
    {
        using (Html.BeginForm<CourseController>(c => c.Enroll(Model.Id), FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-lg btn-success pull-right">Enroll!</button>
        }
    }
</p>
