@using TrainMe.Web.Controllers
@using TrainMe.Web.Infrastructure.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Train Me</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @(Html.ActionLink<HomeController>("Train Me", c => c.Index(), htmlAttributes: new { @class = "navbar-brand"}))
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (this.Request.IsAuthenticated && this.User.IsInRole(RoleNamesConstants.AdministratorRoleName))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@(Html.ActionLink<TrainMe.Web.Areas.Admin.Controllers.HomeController>("Home", c => c.Index()))</li>
                                <li>@(Html.ActionLink<TrainMe.Web.Areas.Admin.Controllers.CategoryController>("Categories", c => c.Index()))</li>
                            </ul>
                        </li>
                    }

                    <li>@(Html.ActionLink<TrainMe.Web.Areas.Course.Controllers.HomeController>("Courses", c => c.Index(null, null, 1)))</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Train Me</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
